body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.sub-title-medium {
  text-align: center;
  font-size: 35px;
}

.sub-title-medium span{
  color: #fafafa;
  font-weight: normal;
  margin: 5px;
}

.sub-title-light {
  text-align: justify;
  font-size: 20px;
}
.sub-title-light h2 {
  color: #fafafa;
  font-weight: 300;
  margin: 5px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.title-resultado {
  text-align: center;
  font-size: 40px;
}

.title-resultado h1 {
  color: #fafafa;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -3px;
  margin: 15px;
}
.title {
  text-align: center;
  font-size: 40px;
}
.puntuacion{
  text-align: center;
  font-size: 105px;
}
.puntuacion span{
  color: #fafafa;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -3px;
  margin: 15px;
}

.title h1 {
  color: #fafafa;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -3px;
  margin: 5px;
}
.sub-title {
  text-align: center;
  font-size: 25px;
}
.sub-title h2 {
  color: #fafafa;
  font-weight: 300;
  margin: 5px;
}

.caja-input input[type="text"] {
  width: 100%;
  font-size: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 20px;
  box-sizing: border-box;
  text-align: center;
}

.caja-input input[type="button"] {
  width: 50%;
  background-color: #d95578;
  color: white;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
}

.caja-input input[type="button"]:hover {
  background-color: #d1697a;
  transition: 1s;
}

.caja-input {
  align-items: center;
  text-align: center;
}

.btn-box {
  align-items: center;
  text-align: center;
}
.title span {
  color: #fafafa;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -2px;
  margin: 5px;
}
.btn-box-preguntas {
  align-items: center;
  text-align: center;
}

.fondo {
  background-image: url("../img/Imagen-home.png");
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.fondo:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(73, 174, 196, 0.5);
}
button.btn-iniciar-bienvenida-comenzar {
  width: 50%;
  background-color: #205ae3;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
}
button.btn-iniciar-bienvenida-comenzar:hover {
  background-color: #1a429e;
  transition: 1s;
}


.fondo-bienvenida {
  background-image: url("../img/img-bienvenida.jpg");
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fondo-bienvenida:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(21, 60, 150, 0.5);
}
/*-------------------------------------------Estilos para pantallas de tipo A-----------------------------------------------*/

.fondo-1-pregunta {
  background-image: url("../img/img-1-pregunta.jpg");
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fondo-1-pregunta:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(91, 206, 183, 0.45);
}

button.btn-pregunta-uno {
  width: 50%;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #ef7c8f;
}
button.btn-pregunta-uno:hover{
  background-color: #d1697a;
  transition: 1s;
}


.fondo-2-pregunta {
  background-image: url("../img/img-2-pregunta.jpg");
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fondo-2-pregunta:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(238, 115, 206, 0.6);
}

button.btn-pregunta-dos {
  width: 50%;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #f078d1;
}
button.btn-pregunta-dos:hover{
  background-color: #c962ad;
  transition: 1s;
}

.fondo-3-pregunta {
  background-image: url("../img/img-3-pregunta.jpg");
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fondo-3-pregunta:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(181, 43, 60, 0.6);
}

button.btn-pregunta-tres {
  width: 50%;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #971a26;
}
button.btn-pregunta-tres:hover{
  background-color: #b82030;
  transition: 1s;
}

.fondo-4-pregunta {
  background-image: url("../img/img-4-pregunta.jpg");
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fondo-4-pregunta:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(13, 51, 77, 0.6);
}

button.btn-pregunta-cuatro {
  width: 50%;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #873f76;
}
button.btn-pregunta-cuatro:hover {
  background-color: #b950a3;
  transition: 1s;
}
.fondo-perdiste {
  background-image: url("../img/img-perdida.jpg");
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fondo-perdiste:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(8, 8, 8, 0.65);
}

button.btn-reiniciar-perdida {
  width: 50%;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #df578d;
}
button.btn-reiniciar-perdida:hover {
  background-color: #b14570;
  transition: 1s;
}

button.btn-finalizar-perdida {
  width: 50%;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #c4434f;
}
button.btn-finalizar-perdida:hover {
  background-color: #8d3039;
  transition: 1s;
}

.fondo-ganaste {
  background-image: url("../img/img-victoria.jpg");
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fondo-ganaste:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(49, 206, 223, 0.5);
}

button.btn-PruebaA-TipoA {
  width: 50%;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #3AD9EB;
}
button.btn-PruebaA-TipoA:hover {
  background-color: rgb(41, 149, 161);
  transition: 1s;
}

button.btn-PruebaA-TipoB {
  width: 50%;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #80C7DA;

}

button.btn-PruebaA-TipoB:hover{
  background-color: rgb(105, 162, 179);
  transition: 1s;
}



/*-------------------------------------------Estilos para pantallas de tipo B-----------------------------------------------*/

.fondo-1-preguntaB {
  background-image: url("../img/img-1-preguntaB.png");
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fondo-1-preguntaB:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(158, 65, 70, 0.5);
}

button.btn-pregunta-unoB {
  width: 50%;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #EF7C8F;
}
button.btn-pregunta-unoB:hover{
  background-color: #d1697a;
  transition: 1s;
}

.fondo-2-preguntaB {
  background-image: url("../img/img-2-preguntaB.jpg");
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fondo-2-preguntaB:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(230, 141, 73, 0.5);
}

button.btn-pregunta-dosB {
  width: 50%;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #F19954;
}
button.btn-pregunta-dosB:hover{
  background-color: rgb(224, 128, 54);
  transition: 1s;
}

.fondo-3-preguntaB {
  background-image: url("../img/img-3-preguntaB.jpg");
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fondo-3-preguntaB:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(242, 180, 102, 0.5);
}

button.btn-pregunta-tresB {
  width: 50%;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #6F9294;
}
button.btn-pregunta-tresB:hover{
  background-color: rgb(127, 173, 175);
  transition: 1s;
}

.fondo-4-preguntaB {
  background-image: url("../img/img-4-preguntaB.jpg");
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fondo-4-preguntaB:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(212, 144, 82, 0.5);
}

button.btn-pregunta-cuatroB {
  width: 50%;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #CB663C;
}
button.btn-pregunta-cuatroB:hover {
  background-color: rgb(230, 119, 72);
  transition: 1s;
}


.fondo-perdisteB {
  background-image: url("../img/img-perdidaB.jpg");
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fondo-perdisteB:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(8, 8, 8, 0.65);
}



button.btn-PruebaB-TipoB {
  width: 50%;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #C7562A;
}
button.btn-PruebaB-TipoB:hover {
  background-color: rgb(224, 98, 48);
  transition: 1s;
}

.fondo-ganasteB {
  background-image: url("../img/img-victoriaB.jpg");
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fondo-ganasteB:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(169, 101, 17, 0.5);
}

button.btn-PruebaB-TipoA {
  width: 50%;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #3AD9EB;
}
button.btn-PruebaB-TipoA:hover {
  background-color: rgb(41, 149, 161);
  transition: 1s;
}


button.btn-pruebaB-TipoB {
  width: 50%;
  color: #fafafa;
  font-size: 20px;
  padding: 15px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  background-color: #C7562A;

}

button.btn-pruebaB-TipoB:hover{
  background-color: rgb(241, 105, 51);
  transition: 1s;
}





